/*=========================ALL================================*/

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

*{
  font-family: 'Signika'!important;
}

/*=========================COLORS================================*/
.pastel {
  background-color: #7b1fa2 !important;
  box-shadow: 0 8px 32px 0 rgba(156, 79, 187, 0.50);
  color: #ffffff !important;
}

.pastel-color {
  color: #7b1fa2 !important;
}

.pastel-light {
  background: rgba(225, 190, 231, 0.30);
  box-shadow: 0 8px 32px 0 rgba(156, 79, 187, 0.50);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #7b1fa2 !important;
}

.marron {
  background-color: #757575 !important;
  color: #ffffff !important;
}

.marron-light {
  background-color: #bdbdbd !important;
  color: #ffffff !important;
}

.rosa-border{
  border-top: 2px solid #E1BEE7!important;
}

.rosa-border-full{
  background: rgba(225, 190, 231, 0.30);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.entrar{
  color: #757575 !important;
  border: 1px solid #7b1fa2 !important;
}

.entrar:hover{
  background-color: #7b1fa2 !important;
  color: #ffffff !important;

}

/*=========================OTHERS================================*/

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========================CONTACT BACKGROUND================================*/

#bg-contactos {
  position: relative;
  top: -130px;
}

#seccion-contacto {
  background-color: #E1BEE7;
  min-height: 500px;
  position: relative;
}

/*=========================FORM================================*/

#contenedor-formulario {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fbfafa;
  border-radius: 5px;
}

#titulo-formulario {
  color: #3f3f3f;
}

/*=========================FOOTER================================*/

footer {
  background: #757575;
  min-height: 100px;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 180px; 
}


/*=========================MEDIA================================*/

@media all and (min-width:800px){
  .grande {
    max-width: 50%!important;
  }
  .margenBottom {
    margin-bottom: -150px;
  }

  #local {
    padding-bottom: 300px; 
}
}