/*=========================COLORS================================*/
.pastel {
  background-color: #7b1fa2 !important;
  color: #ffffff !important;
}

.pastel-color {
  color: #7b1fa2 !important;
}

.pastel-light {
  background-color: #9c27b0 !important;
  color: #ffffff !important;
}

.marron {
  background-color: #757575 !important;
  color: #ffffff !important;
}

.marron-light {
  background-color: #bdbdbd !important;
  color: #ffffff !important;
}

.rosa-border{
  border-top: 2px solid #E1BEE7;
}

/*=========================CONTACT BACKGROUND================================*/

#bg-contactos {
  position: relative;
  top: -130px;
}

#seccion-contacto {
  background-color: #E1BEE7;
  min-height: 500px;
  position: relative;
}

/*=========================FORM================================*/

#contenedor-formulario {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fbfafa;
  border-radius: 5px;
}

#titulo-formulario {
  color: #3f3f3f;
}

/*=========================FOOTER================================*/

footer {
  background: #757575;
  min-height: 100px;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}


/*=========================MEDIA================================*/

@media all and (min-width:800px){
  .grande {
    max-width: 50%!important;
  }
  .margenBottom {
    margin-bottom: -150px;
  }
}